.container{
    @apply max-w-7xl mx-auto px-4;
}
.btn{
    @apply bg-white shadow px-4 py-1 rounded-lg text-gray-700 font-medium;
}
.btn-primary{
    @apply bg-primary-500 rounded-md px-4 py-1 text-center border-2 border-primary-500 text-white hover:bg-primary-600 transition duration-500 ease-in-out cursor-pointer;
}
.btn-secondary{
    @apply text-primary-500 rounded-md px-4 py-1 text-center border-2 border-primary-500  transition duration-500 ease-in-out cursor-pointer;
}
@media(min-width: 640px){
    .container{
        @apply sm:px-6;
    }
}

@media(min-width: 1024px){
    .container{
        @apply px-8;
    }
}

:root{
    --plyr-color-main: #f02e5e;
}

.plyr--video {
    height: 100%;
}

.min-screen-learning{
    height: 100vh;
}
.min-screen-learning2{
    height: 39rem;
}

.player-video-container{
    height: 600px;

}

.max-w-8xl{
    max-width: 90rem;
}
